body{
  font-family: "Montsterrat";
}

#title{
background-color:#FF4c68;
}

h1{
   font-family:'Lilita One', cursive;
   color:white;
   font-size:3.5rem;
   line-height:1.5;

 }

.container-fluid{
  padding: 3% 10%;
}
.col-lg-6{
  padding: 3% 10% 10% 10%;
}
.navbar{
  padding:0px 0px 28px;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;

}
.nav-item{
  padding: 0px 40px;
}
.download-button{
  margin:5% 3% 5% 0%;
}
.dog{

  width:25%;
  transform:rotate(25deg);
  margin-right: 70px;
  position:absolute;
  right:150px;

}
#features{
  padding:7% 10%;
  background-color: white;
  position:relative;
  z-index:1;
}

.feature-box{
  padding:5%;
  text-align:center;
  font-family: 'Lato', sans-serif;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color:black;
}
p{
  color:grey;
}
.icon{
  color:#ef8172;
}
.icon:hover{
  color:#FF4c68;
}
#testimonials{

  text-align:center;
  background-color:#ef8172;

}
.carousel-item{
    padding:5% 15%;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  color:white;

}
em{
  color:white;
}
.testimonial-img{
  border-radius:100%;
  width:10%;
  margin:20px;
}
#press{
  background-color:#ef8172 ;
  text-align: center;
  padding:1.5%;
  padding-bottom: 2%;

}
.press-logo{
  width:15%;
  margin:10px 20px 20px 10px;
}
#pricing{
  padding:100px;
    font-family: 'Montserrat', sans-serif;
    color:black;
    text-align: center;
}
.testimonial-text{
  font-family: 'Montserrat', sans-serif;
  color:black;

}
.my{
  text-align: center;
  padding: 2% 5%;
}
@media (max-width:1015px){
  #title{
    text-align: center;
  }
  .dog{
    transform:rotate(0);
    position:static;
    width:60%;

  }
}
#cta{
  background-color: #FF4c68;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  text-align: center;
  font-size: 2rem;
  padding:5% 7% 7% 2%;
}
.cta-heading{
  font-family:'Lilita One', cursive;
  color:white;
  font-size:4.5rem;
  padding:10% 5% 5% 2%;
  margin-left: 60px;

}
.download-button1{
  margin:0% 2% 2% 0%;
}
#footer{
  padding:5% 7%;
  text-align: center;
}
.social{
  margin:20px 10px;
}
